/* PÁGINA INDEX */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img__produto {
    max-width: 100%;
    height: auto;
}

.descricao__produto {
    font-family: "Open Sans", serif;
    font-weight: 500;
    font-size: 2vh;
}