@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.menu {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    flex-direction: row;
    align-items: center;
}

.menu__links {
    display: flex;
    justify-content: center;
}

.menu__links>* {
    margin: 0px 8px;
}

.links {
    text-decoration: none;
    color: #1351d8;
    font-size: 20px;
}

.links:hover{
    scale: 1.05;
}

.container {
    flex: 1; /* Faz o main ocupar todo o espaço restante */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img__produto{
    max-width: 100%;
    height: auto;
}

.descricao__produto{
    font-family: "Open Sans", serif;
    font-weight: 500;
}

.footer {
    display: flex;
    margin-top: auto;
    width: 100vw;
    bottom: 0%;
    background-color: #1b357e;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.7% 0%;
}

.footer>* {
    margin: 0px 30px;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer__redes__h2 {
    font-size: 22px;
    color: white;
    font-family: "Open Sans", serif;
    font-weight: 400;
}